@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Bold.eot');
    src: local('Greycliff CF Bold'), local('GreycliffCF-Bold'),
    url('GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'),
    url('GreycliffCF-Bold.woff2') format('woff2'),
    url('GreycliffCF-Bold.woff') format('woff'),
    url('GreycliffCF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
img {
    pointer-events: none;
  }
  
@font-face {
    font-family: 'CustomFont';
    src: url('VelaSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Regular.eot');
    src: local('Greycliff CF'), local('GreycliffCF-Regular'),
    url('GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'),
    url('GreycliffCF-Regular.woff2') format('woff2'),
    url('GreycliffCF-Regular.woff') format('woff'),
    url('GreycliffCF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    background-color:#171524;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: 'Montserrat';
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container{
    max-width: 1920px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

/* header-block */
.header-block {
    text-align: center;
}
.header-block__title {
    color: #FD8806;
    font-family: "CustomFont";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header-block__text {
    color: #FFF;
    font-family: "CustomFont";
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 111.538% */
 
}
@media (max-width:1046px){
    .header-block__text {
        color: #FFF;
        font-family: "CustomFont";
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px; /* 111.538% */
     
    }
}
@media (max-width:905px){
    .header-block__text {
        font-size: 40px;
     
    }
    .product__header {
        margin-bottom: 80px;
    }
}
@media (max-width:806px){
    .header-block__text {
        font-size: 30px;
     
    }
    .product__header {
        margin-bottom: 70px;
    }
}
@media (max-width:569px){
    .header-block__text {
        font-size: 25px;
     
    }
    .product__header {
        margin-bottom: 60px;
    }
}
.item-service__circle {
    margin-top: -150px;
    margin-left: -60px;
}
@media (max-width:1820px){
    .cir1 {
        margin-left: -350px;
        margin-top: -100px;

        
    }
    .cir3 {
        margin-left: -350px;
        margin-top: -100px;

    }
}
@media (max-width:970px){
    .cir1 {
        margin-left: -50px;
        margin-top: -100px;

        
    }
    .cir3 {
        margin-left: -50px;
        margin-top: -150px;

    }
}
.item-service__button {
    display: block;
    padding: 15px 44px;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    background: #FFF;
    position: relative;
    width: fit-content;
    color: #161423;
    font-family: "CustomFont";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}
.item-service__button::after {
    content: url('./img/services/arrowserv.svg'); /* Путь к изображению иконки */
    margin-left: 10px; /* Отступ между текстом и иконкой */
    position: absolute;
    top: 13px;
}




/* PRODUCT */
.product {
    padding: 70px 0px 70px 0px;
}
@media (max-width:992px){
    .product {
        padding: 40px 0px 80px 0px;
    }
}
@media (max-width:767px){
    .product {
        padding: 40px 0px 40px 0px;
    }
}
.product__container {
}
.product__header {
    margin-bottom: 126px;
}
@media (max-width:1046px){
    .product__header {
        margin-bottom: 90px;
    }
}

.product__body {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0px -20px -30px;
}
@media (max-width:1819px){
    .product__body {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}


/* @media (max-width:970px){
    .product__body {
        display: flex;
        flex-wrap: wrap;
    }
}  */
.product__column {
    border-radius: 8px;
    padding: 0px 20px;
    flex: 0 1 20%;
    margin-bottom:30px;
}
@media (max-width:970px){
    .product__column {
        flex: 0 1 100%;
    }
} 
.product__item {

}
.item-product {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item-product__content {
    position: relative;
    margin-top: auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 30px;
    border: 1px solid #43424C;
    box-shadow: 0px 0px 7.3px 0px rgba(255, 255, 255, 0.10) inset;
    flex: 1;
    transition: 0.3s;

}
.item-product__content:hover{
    transform: scale(1.1);
    background: rgba(59, 53, 100, 0.76);
    transition: 0.3s;

}
@media (min-width:1820px){
    .item-product__content {
        max-width: 416px;
    }
}
@media (max-width:1820px){

}
@media (max-width:970px){
    .item-product__content {
        width: 375px;
        margin: 0 auto;

    }
}
@media (max-width:823px){
    .item-product__content {
        width: 330px;
    }
    .item-service__circle {
        margin-bottom: -100px;
        margin-left: -100px;
    }
}
.product__broshki{
    margin-top: -150px;
    margin-left: -60px;
    flex: 1;
    height: 100%;
}
.product__broshki img{
}
.product__dzhigi{
    margin-top: -120px;
    
}
.salamshi{
    position: absolute;
    bottom: 30px;
}

@media (max-width:1820px){
    .chetam{
        position: absolute;
        bottom: 30px;
    }
}
.urushan{
    margin-bottom: -30px;
}
.item-product__link {
    color: inherit;
    display: inline-block;
    text-decoration: none;

    margin-bottom: 15px;
}
.item-product__title {
    color: #FFF;
    font-family: "CustomFont";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 121.429% */
}
.item-product__text {
    color: #FFF;
    font-family: "CustomFont";
    font-size: 20px;
    font-style: normal;
    margin-bottom: 29px;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.item-product__image {
    display: block;
    padding: 0px 0px 85% 0px;
    object-fit: cover;
}

@media (max-width:737px){

    .item-service__circle {
        margin-bottom: -100px;
        margin-left: -100px;
    }
    .item-product__content {
        width: 300px;
    }
    .item-product__title {
        color: #FFF;
        margin-bottom: -50px;
        font-family: "CustomFont";
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px; /* 121.429% */
    }
    .item-product__text {
        color: #FFF;
        font-family: "CustomFont";
        font-size: 20px;
        font-style: normal;
        margin-bottom: 29px;
        font-weight: 400;
        line-height: 30px; /* 150% */
    }
}
@media (max-width:679px){
    .item-service__circle {
        margin-bottom: -130px;
        margin-left: -100px;
    }
    .item-product__content {
        width: 250px;
        margin: 0 auto;

    }
    .item-product__title {
        color: #FFF;
        margin-bottom: -50px;
        font-family: "CustomFont";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px; /* 121.429% */
    }
    .item-product__text {
        color: #FFF;
        font-family: "CustomFont";
        font-size: 15px;
        font-style: normal;
        margin-bottom: 29px;
        font-weight: 400;
        line-height: 30px; /* 150% */
    }
    .item-service__button {
        display: block;
        padding: 15px 44px;
        justify-content: center;
        align-items: center;
    
        border-radius: 6px;
        background: #FFF;
    
        width: fit-content;
        color: #161423;
        font-family: "CustomFont";
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */
    }
    
}
@media (max-width:576px){
    .item-product__content {
        width: 100%;
    }
    .product__body {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:436px){
    .item-product__content {
        padding-right: 0;
        margin: 0 auto;

        width: 330px;
    }
    .product__body {
        display: grid;
        grid-template-columns:1fr;
        margin: 0px -20px -30px;
    }
    .chetam2{
        position: absolute;
        bottom: 30px;
    }
    .chetam3{
        position: absolute;
        bottom: 30px;
    }

}


/* benefits */
.benefits {
    background-color:#1C1A2E;
    padding-top: 152px;
    padding-bottom: 122px;
    opacity: 0.9;
    background: url('./img/benefits//manbro.png') no-repeat;
    background-position: 60% 20%;
}
@media (max-width:992px){
    .benefits {
        padding-top: 80px;
        padding-bottom: 70px;
    }
}
@media (max-width:471px){
    .benefits {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.benefits__container {
    padding-left: 0px;
}
@media (max-width:1048px){
    .benefits__container {
        margin: 0 auto;
    }

}

.benefits__header {
    position: relative;
    color: #FFF;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    font-family: "CustomFont";
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px; /* 111.538% */
}
@media (max-width:706px){
    .benefits__header {
        font-size: 45px;
        max-width: 500px;

    }
    .benefits__circled_word::before{
        content: url('./img/benefits//word-circle.svg'); /* Путь к изображению иконки */
        position: absolute;
        left: 70px;
    top: 70px;
    
    }
}
@media (max-width:575px){
    .benefits__header {
        margin-bottom: 60px;
    }
}
@media (max-width:415px){
    .benefits__circled_word::before{
        content: url('./img/benefits/word-circle.svg'); /* Путь к изображению иконки */
        position: absolute;
    }
   
}
@media (max-width:365px){
    .benefits__circled_word::before{
        content: url('./img/benefits/word-circle.svg'); /* Путь к изображению иконки */
        position: absolute;
        left: 40px;
        top: 70px;
    }
}
@media (max-width:992px){
    .benefits__header {
        font-size: 35px;
    }
}
@media (max-width:988px){
    .benefits__circled_word::before{
        content: url('./img/benefits/word-circle.svg'); /* Путь к изображению иконки */
        position: absolute;
       right: 250px;
        top: 70px;
    }
}
@media (max-width:460px){
    .benefits__circled_word::before{
        content: url('./img/benefits/word-circle.svg'); /* Путь к изображению иконки */
        position: absolute;
       right: 250px;
        top: 110px;
    }
}
@media (max-width:387px){
    .benefits__circled_word::before{
        display: none;
    }
}
.benefits__header::before{
    content: url('./img/benefits//lefticon.svg'); /* Путь к изображению иконки */
}
.benefits__header::after{
    content: url('./img/benefits/righticon.png'); /* Путь к изображению иконки */
}
.benefits__circled_word::before{
    content: url('./img/benefits//word-circle.svg'); /* Путь к изображению иконки */
    position: absolute;
}
.benefits__firstcol {
    display:flex;
    justify-content: space-between;

    margin-top: 104px;
}
@media (min-width:1048px){
    .benefits__firstcol {
        margin-left: 102px;
        margin-right: 102px;    
}
}
@media (max-width:992px){
    .benefits__firstcol {
        display:flex;
        justify-content: space-between;
    
        margin-top: 80px;
    }
}
.benefits__item1 {
    padding: 50px 23px;
    position: relative;
    margin-left: 20px;

    max-width: 416px;
    border-radius: 8px;
    border: 1px solid #3C3A50;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 7.3px 0px rgba(255, 255, 255, 0.10) inset;
}
.benefits__secondcol {
    display:flex;
    /* margin-left: 282px;

    margin-right: 175px; */
    margin-top: 104px;
    justify-content: space-between;

}
@media (max-width:400px){
    .benefits__firstcol {
        display:flex;
        justify-content: space-between;
    
        margin-top: 20px;
    }
}
@media (min-width:1298px){
    .benefits__secondcol {
        padding: 0 200px;
    }
}
@media (max-width:386px){
    .benefits__header {

        font-size: 25px;
    }

}
@media (max-width:728px){
    .benefits__secondcol {

    }
    .benefits__firstcol {
        display:flex;
        justify-content: space-between;
    
        margin-top: 60px;
    }
}
@media (max-width:575px){
    .benefits__secondcol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .benefits__firstcol {
        display:flex;
        justify-content: space-between;
    
    }
}
@media (max-width:1340px){
    .benefits__item1 {
        max-width: 395px;
    }
    .benefits__item2 {
        max-width: 395px;
    }
}

.benefits__item2 {
    padding: 50px 23px;
    margin-left: 20px;
    position: relative;
    max-width: 416px;
    border-radius: 8px;
    border: 1px solid #3C3A50;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 7.3px 0px rgba(255, 255, 255, 0.10) inset;
}
.benefits__item1::before{
    content: url('./img/benefits/yellowsmoke.svg'); /* Путь к изображению иконки */
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
}
.benefits__item2::before{
    content: url('./img/benefits/yellowsmoke.svg'); /* Путь к изображению иконки */
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
}
.item-benefits__icon {
    margin-bottom: 13px;
}
.item-benefits__title {
    margin-bottom: 34px;
    color: #FFF;
    font-family: "CustomFont";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 130.769% */
}
.item-benefits__text {
    color: #FFF;
    font-family: "CustomFont";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.benefits__secondcol {
}

@media (max-width:890px){
    .benefits__item1 {
        max-width: 330px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .benefits__item2 {
        max-width: 330px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
}
@media (max-width:721px){
    .item-benefits__icon {
        margin-bottom: 8px;
    }
    .benefits__item1 {
        max-width: 295px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .benefits__item2 {
        max-width: 295px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .item-benefits__title {
        margin-bottom: 15px;
        color: #FFF;
        font-family: "CustomFont";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px; /* 130.769% */
    }
    .item-benefits__text {
        color: #FFF;
        font-family: "CustomFont";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
    }
}
@media (max-width:661px){
    .item-benefits__icon {
        margin-bottom: 6px;
    }
    .benefits__item1 {
        max-width: 250px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .benefits__secondcol {
        margin-top: 30px;

    }
    .item-benefits__title {
        margin-bottom: 8px;
        color: #FFF;
        font-family: "CustomFont";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px; /* 130.769% */
    }
    .benefits__item2 {
        max-width: 250px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
}
@media (max-width:575px){
    .benefits__firstcol {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }
    .benefits__secondcol {
      
        margin-top: 0px;
    }
    .benefits__item1 {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .benefits__item2 {
        max-width: 100%;
        margin-bottom: 10px;

    }
    .benefits__item1::after{
        content: url('./img/benefits/yellowsmoke.svg'); /* Путь к изображению иконки */
        position: absolute;
        top: -75px;
        right:  0;
    }
    .benefits__item2::after{
        content: url('./img/benefits/yellowsmoke.svg'); /* Путь к изображению иконки */
        position: absolute;
        top: -95px;
        right: 0;
    }

   
}
@media (max-width:430px){
    .benefits__header {
    }
    .benefits {
        background-color:#1C1A2E;
        padding-top: 20px;
        opacity: 0.9;
        background: url('./img/benefits/manbro.png') no-repeat;
        background-position:center 280vw;
        background-size: 700px;
    }
    .benefits__container {
        min-height: 1720px;
    } 
}
@media (max-width:393px){
    .benefits__container {
        min-height: 1520px;
    } 
}
.benbuttons{
    margin-top: 123px;
    text-align: center;
}
@media (max-width:580px){
    .benbuttons{
        display: none;
    }
}
@media (max-width:720px){
    .benefits__btn {
    padding: 25px 40px;
    }
    .benefits__btn2 {
        padding: 25px 40px;
        margin-right: 0px;
    }
}
.benefits__btn {
    border-radius: 6px;
background: linear-gradient(257deg, #FD8806 25.37%, #DB3F2C 125.31%);
box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.13) inset, 0px 0px 16.1px 0px rgba(253, 136, 6, 0.51);
margin-right: 44px;
color: #FFF;
font-family: "CustomFont";
font-size: 24px;
padding: 25px 95px;

font-style: normal;
font-weight: 600;
line-height: 34px; /* 141.667% */
margin-bottom: 15px;
}
.benefits__btn2 {
    padding: 25px 95px;
    border-radius: 6px;
border: 2px solid #FFF;
box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.13) inset, 0px 0px 16.1px 0px rgba(253, 136, 6, 0.51);
background: #232039;
color: #FFF;
font-family: "CustomFont";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 34px; /* 141.667% */
}
@media (max-width:835px){
    .benefits__btn2 {margin-right: 35px;
    }
}