@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Bold.eot');
    src: local('Greycliff CF Bold'), local('GreycliffCF-Bold'),
        url('GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-Bold.woff2') format('woff2'),
        url('GreycliffCF-Bold.woff') format('woff'),
        url('GreycliffCF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Medium Oblique';
    src: url('GreycliffCF-MediumOblique.eot');
    src: local('Greycliff CF Medium Oblique'), local('GreycliffCF-MediumOblique'),
        url('GreycliffCF-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-MediumOblique.woff2') format('woff2'),
        url('GreycliffCF-MediumOblique.woff') format('woff'),
        url('GreycliffCF-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Light.eot');
    src: local('Greycliff CF Light'), local('GreycliffCF-Light'),
        url('GreycliffCF-Light.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-Light.woff2') format('woff2'),
        url('GreycliffCF-Light.woff') format('woff'),
        url('GreycliffCF-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Heavy.eot');
    src: local('Greycliff CF Heavy'), local('GreycliffCF-Heavy'),
        url('GreycliffCF-Heavy.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-Heavy.woff2') format('woff2'),
        url('GreycliffCF-Heavy.woff') format('woff'),
        url('GreycliffCF-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Extra Light Oblique';
    src: url('GreycliffCF-ExtraLightOblique.eot');
    src: local('Greycliff CF Extra Light Oblique'), local('GreycliffCF-ExtraLightOblique'),
        url('GreycliffCF-ExtraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-ExtraLightOblique.woff2') format('woff2'),
        url('GreycliffCF-ExtraLightOblique.woff') format('woff'),
        url('GreycliffCF-ExtraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Extra Bold Oblique';
    src: url('GreycliffCF-ExtraBoldOblique.eot');
    src: local('Greycliff CF Extra Bold Oblique'), local('GreycliffCF-ExtraBoldOblique'),
        url('GreycliffCF-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-ExtraBoldOblique.woff2') format('woff2'),
        url('GreycliffCF-ExtraBoldOblique.woff') format('woff'),
        url('GreycliffCF-ExtraBoldOblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Extra';
    src: url('GreycliffCF-ExtraLight.eot');
    src: local('Greycliff CF Extra Light'), local('GreycliffCF-ExtraLight'),
        url('GreycliffCF-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-ExtraLight.woff2') format('woff2'),
        url('GreycliffCF-ExtraLight.woff') format('woff'),
        url('GreycliffCF-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Extra';
    src: url('GreycliffCF-ExtraBold.eot');
    src: local('Greycliff CF Extra Bold'), local('GreycliffCF-ExtraBold'),
        url('GreycliffCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-ExtraBold.woff2') format('woff2'),
        url('GreycliffCF-ExtraBold.woff') format('woff'),
        url('GreycliffCF-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Bold Oblique';
    src: url('GreycliffCF-BoldOblique.eot');
    src: local('Greycliff CF Bold Oblique'), local('GreycliffCF-BoldOblique'),
        url('GreycliffCF-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-BoldOblique.woff2') format('woff2'),
        url('GreycliffCF-BoldOblique.woff') format('woff'),
        url('GreycliffCF-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Light Oblique';
    src: url('GreycliffCF-LightOblique.eot');
    src: local('Greycliff CF Light Oblique'), local('GreycliffCF-LightOblique'),
        url('GreycliffCF-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-LightOblique.woff2') format('woff2'),
        url('GreycliffCF-LightOblique.woff') format('woff'),
        url('GreycliffCF-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Heavy Oblique';
    src: url('GreycliffCF-HeavyOblique.eot');
    src: local('Greycliff CF Heavy Oblique'), local('GreycliffCF-HeavyOblique'),
        url('GreycliffCF-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-HeavyOblique.woff2') format('woff2'),
        url('GreycliffCF-HeavyOblique.woff') format('woff'),
        url('GreycliffCF-HeavyOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Demi Bold Oblique';
    src: url('GreycliffCF-DemiBoldOblique.eot');
    src: local('Greycliff CF Demi Bold Oblique'), local('GreycliffCF-DemiBoldOblique'),
        url('GreycliffCF-DemiBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-DemiBoldOblique.woff2') format('woff2'),
        url('GreycliffCF-DemiBoldOblique.woff') format('woff'),
        url('GreycliffCF-DemiBoldOblique.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Demi';
    src: url('GreycliffCF-DemiBold.eot');
    src: local('Greycliff CF Demi Bold'), local('GreycliffCF-DemiBold'),
        url('GreycliffCF-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-DemiBold.woff2') format('woff2'),
        url('GreycliffCF-DemiBold.woff') format('woff'),
        url('GreycliffCF-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Thin.eot');
    src: local('Greycliff CF Thin'), local('GreycliffCF-Thin'),
        url('GreycliffCF-Thin.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-Thin.woff2') format('woff2'),
        url('GreycliffCF-Thin.woff') format('woff'),
        url('GreycliffCF-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Medium.eot');
    src: local('Greycliff CF Medium'), local('GreycliffCF-Medium'),
        url('GreycliffCF-Medium.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-Medium.woff2') format('woff2'),
        url('GreycliffCF-Medium.woff') format('woff'),
        url('GreycliffCF-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Thin Oblique';
    src: url('GreycliffCF-ThinOblique.eot');
    src: local('Greycliff CF Thin Oblique'), local('GreycliffCF-ThinOblique'),
        url('GreycliffCF-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-ThinOblique.woff2') format('woff2'),
        url('GreycliffCF-ThinOblique.woff') format('woff'),
        url('GreycliffCF-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('GreycliffCF-Regular.eot');
    src: local('Greycliff CF'), local('GreycliffCF-Regular'),
        url('GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-Regular.woff2') format('woff2'),
        url('GreycliffCF-Regular.woff') format('woff'),
        url('GreycliffCF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Oblique';
    src: url('GreycliffCF-RegularOblique.eot');
    src: local('Greycliff CF Oblique'), local('GreycliffCF-RegularOblique'),
        url('GreycliffCF-RegularOblique.eot?#iefix') format('embedded-opentype'),
        url('GreycliffCF-RegularOblique.woff2') format('woff2'),
        url('GreycliffCF-RegularOblique.woff') format('woff'),
        url('GreycliffCF-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


img {
    pointer-events: none;
  }
  
@font-face {
    font-family: 'CustomFont';
    src: url('VelaSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GreyCliff';
    src: url('Fontspring-DEMO-greycliffcf-regular') format('opentype');
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    transition: .3s;
    color: #fff;
    font-family: 'Greycliff CF';


}
.container{
    max-width: 1725px;
    /* width: 92vw; */
    margin: 0 auto;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    background-color:#171524;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: 'Montserrat';
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container{
    max-width: 1920px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
/* NIAZ */

.burger_menu{
    display: none;

    width: 28px;
    height: 22.095px;
    flex-shrink: 0;
}

.header{
    /* height: 1070px; */
    position: relative;
}

.header_container{ padding: 25px 0; }

.header_underline_vector{
    margin: 0 auto;
    max-width: 1920px;
}

.header_underline_vector img{
    width: 100%;
}

.header_bg_image{
    background: url('./../img/H1.svg') no-repeat;
    background-size: 100% ;
    height: 100%;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: center;
}

.navbar_list{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 24px;
}

.navbar_item{
    display: flex;
    align-items: center;
    gap: 7px;

    position: relative;
}

.navbar_item_link{
    
    font-family: Geologica;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
    text-decoration: none;
}

.dropdown_arrow{
    width: 16px;
    height: 16px;
    transition: .3s;
}

.dropdown_arrow.active{
    transform: rotate(180deg);
    transition: .3s;
}

.dropdown_content{
    display: none;
}

.dropdown_content.active_dropdown{
    position: absolute;
    top: 50px;
    left: -95px;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.dropdown_content2.active_dropdown{
    left: 90px;
}
.dropdown_content3.active_dropdown{
    left: -25px;
}

.dropdown_item{
    display: flex;
    width: 300px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    background: #252333;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.dropdown_item a{
    text-decoration: none;
}

.header_phone{
    display: flex;
    align-items: center;
    
    gap: 11px;
    font-size: 24px;
}


.burger_menu_inner {
    display: none;
    /* opacity: 0; */
    z-index: 66;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 710px;
    background-color: #161423;
}

.active_menu {
    display: block;
    /* opacity: 1; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 710px;
    background-color: #161423;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
}

.header_underline_vector {
    /* margin: 0 0 90px 0; */
}

.menu_logo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.menu_logo img {
    width: 100px;
}

.menu_cross {
    position: absolute;
    top: 35px;
    right: 25px;
}

.burger_menu_navbar{
    margin: 90px 0 0 0;
}

.burger_menu_item {
    display: flex;
    width: 100%;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.30);
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
    background: #161423;
}

.burger_menu_item a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px; /* 170% */
}

.menu_content{
    display: none;
}

.menu_content.active{
    display: block;
}

.menu_content .burger_menu_item a{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.6;
    text-decoration: none;
}
.menu_content .burger_menu_item{
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    background: #252333;
}










.header_container_2 .header_inner{
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.header_title{
    text-shadow: 0px 0px 22.4px #3B3564;
    font-size: 84px;
    font-style: normal;
    font-family: "Gre";
    font-weight: 400;
    line-height: normal;
    margin: 0 0 25px 0;
    /* width: 950px; */
}

.header_text{
    /* width: 800px; */
    color: #CDD3DA;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 175% */
}

.header_btn{
    max-width: 345px;
    margin: 70px 0;
    display: flex;
    padding: 25px 95px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: linear-gradient(257deg, #FD8806 25.37%, #DB3F2C 125.31%);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.13) inset, 0px 0px 16.1px 0px rgba(253, 136, 6, 0.51);
    transition: .3s;
    font-size: 24px;
}

.header_btn:hover{
    transition: .3s;
    background: linear-gradient(257deg, #d47100 25.37%, #bb2c19 125.31%);
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.13) inset, 0px 0px 16.1px 0px rgba(253, 136, 6, 0.51);
}

.header_ladno{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 13px;
}

.header_ladno_item{
    
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0px 0px 21.5px 0px rgba(0, 0, 0, 0.25);
}

.right_block {
    /* width: 1000px; */
    height: 800px;
    background: url('./../img/man3.png') no-repeat center;
    background-size: cover;
    opacity: 0.5;

    position: relative;
    top: 100px;
}

.right_block .vectors_desktop{
    width: 100%;
    height: 75%;

    position: absolute;
    /* right: 70px; */
    top: 150px;
}

.header_underline_vector_2{
    margin-top: 50px;
}


.apps_container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.apps{
    display: flex;
    justify-content: right;
}

.vector_phone,
.vectors_phone{
    display: none;
}




@media screen and (max-width: 1919px) and (min-width:1441px) {
    .container{
        max-width: 90vw;
    }
}

@media screen and (max-width:1440px) and (min-width: 1001px) {
    .container{
        max-width: 90vw;
    }
    .header_btn{
        max-width: 345px;
        margin: 30px 0;
    }
    .header_underline_vector_2{
        margin-top: -50px;
    }
    .navbar_inner{
        display: grid;
        grid-template-columns: 150px 1fr 220px;
        gap: 50px;
    }
    .navbar_item_link{
        font-size: 16px;
    }
    .navbar_list{
        gap: 25px;
    }
    .navbar_item_link{
        min-width: 20px;
    }
    .header_phone{
        display: flex;
        justify-content: right;
        align-items: center;
    }
}

@media screen and (max-width:1100px) and (min-width: 769px){
    .container{
        max-width: 90vw;
    }
    .header_btn{
        max-width: 345px;
        margin: 30px 0;
    }
    /* .header_phone{
        display: none;
    } */
    .header_underline_vector_2{
        margin-top: -0px;
    }
    .navbar_inner{
        display: grid;
        grid-template-columns: 150px 1fr 1fr;
        gap: 50px;
    }
    .navbar_item_link{
        font-size: 10px;
    }
    .navbar_list{
        gap: 25px;
    }
    .navbar_item_link{
        min-width: 20px;
    }
    .header_phone{
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 90vw;
    }
    .burger_menu{
        display: block;
    }
    .navbar,
    .header_phone,
    .right_block .vectors_desktop{
        display: none;
        top: 0;
    }
    .header_container_2 .header_inner{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
    }
    .header_title{
        text-shadow: 0px 0px 22.4px #3B3564;
        font-size: 50px;
        font-style: normal;
        font-family: 'Greycliff CF Demi Bold Oblique';

        font-weight: 400;
        line-height: normal;
        margin: 100px 0 20px 0;
    }
    .header_text{
        color: #CDD3DA;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
    }
    .header_btn{
        display: flex;
        max-width: 90vw;
        margin: 75px auto;
        height: 64px;
        padding: 25px 95px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }
    .header_ladno{
        position: absolute;
        bottom: 90px;
        z-index: 55;
    }
    .header_ladno_item{
        
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px; /* 242.857% */
        display: flex;
        padding: 6px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .vector_phone,
    .vectors_phone{
        display: block;
    }
    .vector_phone.down{
        margin-top: -70px;
    }

    .vector_desktop{
        display: none;
    }
    .vectors_phone{
        position: absolute;
        top: -400px;
        left: -5vw;
        width: 100vw;
        min-height: 1000px;
    }
}




/* header-block */
.header-block {
    text-align: center;
}
.header-block__title {
    color: #FD8806;
    font-family: "CustomFont";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header-block__text {
    color: #FFF;
    font-family: "CustomFont";
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 111.538% */
 
}
@media (max-width:1046px){
    .header-block__text {
        color: #FFF;
        font-family: "CustomFont";
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 58px; /* 111.538% */
     
    }
}
@media (max-width:905px){
    .header-block__text {
        font-size: 40px;
     
    }
    .product__header {
        margin-bottom: 80px;
    }
}
@media (max-width:806px){
    .header-block__text {
        font-size: 30px;
     
    }
    .product__header {
        margin-bottom: 70px;
    }
}
@media (max-width:569px){
    .header-block__text {
        font-size: 25px;
     
    }
    .product__header {
        margin-bottom: 60px;
    }
}
.item-service__circle {
    margin-top: -150px;
    margin-left: -60px;
}
@media (max-width:1820px){
    .cir1 {
        margin-left: -350px;
        margin-top: -100px;

        
    }
    .cir3 {
        margin-left: -350px;
        margin-top: -100px;

    }
}
@media (max-width:970px){
    .cir1 {
        margin-left: -50px;
        margin-top: -100px;

        
    }
    .cir3 {
        margin-left: -50px;
        margin-top: -150px;

    }
}
.item-service__button {
    display: block;
    padding: 15px 44px;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    background: #FFF;
    position: relative;
    width: fit-content;
    color: #161423;
    font-family: "CustomFont";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
}
.item-service__button::after {
    content: url('./img/services/arrowserv.svg'); /* Путь к изображению иконки */
    margin-left: 10px; /* Отступ между текстом и иконкой */
    position: absolute;
    top: 13px;
}




/* PRODUCT */
.product {
    padding: 70px 0px 70px 0px;
    margin-top: 126px;
}
@media (max-width:1013px){
    .product {
        margin-top: 90px;
    }
}
@media (max-width:992px){
    .product {
        padding: 40px 0px 80px 0px;
    }
}
@media (max-width:767px){
    .product {
        padding: 40px 0px 40px 0px;
        margin-top: 60px;

    }
}
.product__container {
}
.product__header {
    margin-bottom: 126px;
}
@media (max-width:1046px){
    .product__header {
        margin-bottom: 90px;
    }
}

.product__body {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0px -20px -30px;
}
@media (max-width:1819px){
    .product__body {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}


/* @media (max-width:970px){
    .product__body {
        display: flex;
        flex-wrap: wrap;
    }
}  */
.product__column {
    border-radius: 8px;
    padding: 0px 20px;
    flex: 0 1 20%;
    margin-bottom:30px;
}
@media (max-width:970px){
    .product__column {
        flex: 0 1 100%;
    }
} 
.product__item {

}
.item-product {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item-product__content {
    position: relative;
    margin-top: auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 30px;
    border: 1px solid #43424C;
    box-shadow: 0px 0px 7.3px 0px rgba(255, 255, 255, 0.10) inset;
    flex: 1;
    transition: 0.3s;

}
.item-product__content:hover{
    transform: scale(1.1);
    background: rgba(59, 53, 100, 0.76);
    transition: 0.3s;

}
@media (min-width:1820px){
    .item-product__content {
        max-width: 416px;
    }
}
@media (max-width:1820px){

}
@media (max-width:970px){
    .item-product__content {
        width: 375px;
        margin: 0 auto;

    }
}
@media (max-width:823px){
    .item-product__content {
        width: 330px;
    }
    .item-service__circle {
        margin-bottom: -100px;
        margin-left: -100px;
    }
}
.product__broshki{
    margin-top: -150px;
    margin-left: -60px;
    flex: 1;
    height: 100%;
}
.product__broshki img{
}
.product__dzhigi{
    margin-top: -120px;
    
}
.salamshi{
    position: absolute;
    bottom: 30px;
}

@media (max-width:1820px){
    .chetam{
        position: absolute;
        bottom: 30px;
    }
}
.urushan{
    margin-bottom: -30px;
}
.item-product__link {
    color: inherit;
    display: inline-block;
    text-decoration: none;

    margin-bottom: 15px;
}
.item-product__title {
    color: #FFF;
    font-family: "CustomFont";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 121.429% */
}
.item-product__text {
    color: #FFF;
    font-family: "CustomFont";
    font-size: 20px;
    font-style: normal;
    margin-bottom: 29px;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.item-product__image {
    display: block;
    padding: 0px 0px 85% 0px;
    object-fit: cover;
}

@media (max-width:737px){

    .item-service__circle {
        margin-bottom: -100px;
        margin-left: -100px;
    }
    .item-product__content {
        width: 300px;
    }
    .item-product__title {
        color: #FFF;
        margin-bottom: -50px;
        font-family: "CustomFont";
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px; /* 121.429% */
    }
    .item-product__text {
        color: #FFF;
        font-family: "CustomFont";
        font-size: 20px;
        font-style: normal;
        margin-bottom: 29px;
        font-weight: 400;
        line-height: 30px; /* 150% */
    }
}
@media (max-width:679px){
    .item-service__circle {
        margin-bottom: -130px;
        margin-left: -100px;
    }
    .item-product__content {
        width: 250px;
        margin: 0 auto;

    }
    .item-product__title {
        color: #FFF;
        margin-bottom: -50px;
        font-family: "CustomFont";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px; /* 121.429% */
    }
    .item-product__text {
        color: #FFF;
        font-family: "CustomFont";
        font-size: 15px;
        font-style: normal;
        margin-bottom: 29px;
        font-weight: 400;
        line-height: 30px; /* 150% */
    }
    .item-service__button {
        display: block;
        padding: 15px 44px;
        justify-content: center;
        align-items: center;
    
        border-radius: 6px;
        background: #FFF;
    
        width: fit-content;
        color: #161423;
        font-family: "CustomFont";
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */
    }
    
}
@media (max-width:576px){
    .item-product__content {
        width: 100%;
    }
    .product__body {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:436px){
    .item-product__content {
        padding-right: 0;
        margin: 0 auto;

        width: 330px;
    }
    .product__body {
        display: grid;
        grid-template-columns:1fr;
        margin: 0px -20px -30px;
    }
    .chetam2{
        position: absolute;
        bottom: 30px;
    }
    .chetam3{
        position: absolute;
        bottom: 30px;
    }

}


/* benefits */
.benefits {
    background-color:#1C1A2E;
    padding-top: 152px;
    padding-bottom: 122px;
    opacity: 0.9;
    background: url('./img/benefits//manbro.png') no-repeat;
    background-position: 60% 20%;
}
@media (max-width:992px){
    .benefits {
        padding-top: 80px;
        padding-bottom: 70px;
    }
}
@media (max-width:471px){
    .benefits {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.benefits__container {
    padding-left: 0px;
}
@media (max-width:1048px){
    .benefits__container {
        margin: 0 auto;
    }

}

.benefits__header {
    position: relative;
    color: #FFF;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    font-family: "CustomFont";
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px; /* 111.538% */
}
@media (max-width:706px){
    .benefits__header {
        font-size: 45px;
        max-width: 500px;

    }
    .benefits__circled_word::before{
        content: url('./img/benefits//word-circle.svg'); /* Путь к изображению иконки */
        position: absolute;
        left: 70px;
    top: 70px;
    
    }
}
@media (max-width:575px){
    .benefits__header {
        margin-bottom: 60px;
    }
}
@media (max-width:415px){
    .benefits__circled_word::before{
        content: url('./img/benefits/word-circle.svg'); /* Путь к изображению иконки */
        position: absolute;
    }
   
}
@media (max-width:365px){
    .benefits__circled_word::before{
        content: url('./img/benefits/word-circle.svg'); /* Путь к изображению иконки */
        position: absolute;
        left: 40px;
        top: 70px;
    }
}
@media (max-width:992px){
    .benefits__header {
        font-size: 35px;
    }
}
@media (max-width:988px){
    .benefits__circled_word::before{
        content: url('./img/benefits/word-circle.svg'); /* Путь к изображению иконки */
        position: absolute;
       right: 250px;
        top: 70px;
    }
}
@media (max-width:460px){
    .benefits__circled_word::before{
        content: url('./img/benefits/word-circle.svg'); /* Путь к изображению иконки */
        position: absolute;
       right: 250px;
        top: 80px;
    }
}
@media (max-width:400px){
    .benefits__circled_word::before{
        display: none;
    }
}
.benefits__header::before{
    content: url('./img/benefits//lefticon.svg'); /* Путь к изображению иконки */
}
.benefits__header::after{
    content: url('./img/benefits/righticon.png'); /* Путь к изображению иконки */
}
.benefits__circled_word::before{
    content: url('./img/benefits//word-circle.svg'); /* Путь к изображению иконки */
    position: absolute;
}
.benefits__firstcol {
    display:flex;
    justify-content: space-between;

    margin-top: 104px;
}
@media (min-width:1048px){
    .benefits__firstcol {
        margin-left: 102px;
        margin-right: 102px;    
}
}
@media (max-width:992px){
    .benefits__firstcol {
        display:flex;
        justify-content: space-between;
    
        margin-top: 80px;
    }
}
.benefits__item1 {
    padding: 50px 23px;
    position: relative;
    margin-left: 20px;

    max-width: 416px;
    border-radius: 8px;
    border: 1px solid #3C3A50;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 7.3px 0px rgba(255, 255, 255, 0.10) inset;
}
.benefits__secondcol {
    display:flex;
    /* margin-left: 282px;

    margin-right: 175px; */
    margin-top: 104px;
    justify-content: space-between;

}
@media (max-width:400px){
    .benefits__firstcol {
        display:flex;
        justify-content: space-between;
    
        margin-top: 20px;
    }
}
@media (min-width:1298px){
    .benefits__secondcol {
        padding: 0 200px;
    }
}
@media (max-width:386px){
    .benefits__header {

        font-size: 25px;
    }

}
@media (max-width:728px){
    .benefits__secondcol {

    }
    .benefits__firstcol {
        display:flex;
        justify-content: space-between;
    
        margin-top: 60px;
    }
}
@media (max-width:575px){
    .benefits__secondcol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .benefits__firstcol {
        display:flex;
        justify-content: space-between;
    
    }
}
@media (max-width:1340px){
    .benefits__item1 {
        max-width: 395px;
    }
    .benefits__item2 {
        max-width: 395px;
    }
}

.benefits__item2 {
    padding: 50px 23px;
    margin-left: 20px;
    position: relative;
    max-width: 416px;
    border-radius: 8px;
    border: 1px solid #3C3A50;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 7.3px 0px rgba(255, 255, 255, 0.10) inset;
}
.benefits__item1::before{
    content: url('./img/benefits/yellowsmoke.svg'); /* Путь к изображению иконки */
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
}
.benefits__item2::before{
    content: url('./img/benefits/yellowsmoke.svg'); /* Путь к изображению иконки */
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
}
.item-benefits__icon {
    margin-bottom: 13px;
}
.item-benefits__title {
    margin-bottom: 34px;
    color: #FFF;
    font-family: "CustomFont";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 130.769% */
}
.item-benefits__text {
    color: #FFF;
    font-family: "CustomFont";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.benefits__secondcol {
}

@media (max-width:890px){
    .benefits__item1 {
        max-width: 330px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .benefits__item2 {
        max-width: 330px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
}
@media (max-width:721px){
    .item-benefits__icon {
        margin-bottom: 8px;
    }
    .benefits__item1 {
        max-width: 295px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .benefits__item2 {
        max-width: 295px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .item-benefits__title {
        margin-bottom: 15px;
        color: #FFF;
        font-family: "CustomFont";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px; /* 130.769% */
    }
    .item-benefits__text {
        color: #FFF;
        font-family: "CustomFont";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
    }
}
@media (max-width:661px){
    .item-benefits__icon {
        margin-bottom: 6px;
    }
    .benefits__item1 {
        max-width: 250px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .benefits__secondcol {
        margin-top: 30px;

    }
    .item-benefits__title {
        margin-bottom: 8px;
        color: #FFF;
        font-family: "CustomFont";
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px; /* 130.769% */
    }
    .benefits__item2 {
        max-width: 250px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
}
@media (max-width:575px){
    .benefits__firstcol {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }
    .benefits__secondcol {
      
        margin-top: 0px;
    }
    .benefits__item1 {
        max-width: 100%;
        margin-bottom: 10px;
    }
    .benefits__item2 {
        max-width: 100%;
        margin-bottom: 10px;

    }
    .benefits__item1::after{
        content: url('./img/benefits/yellowsmoke.svg'); /* Путь к изображению иконки */
        position: absolute;
        top: -75px;
        right:  0;
    }
    .benefits__item2::after{
        content: url('./img/benefits/yellowsmoke.svg'); /* Путь к изображению иконки */
        position: absolute;
        top: -95px;
        right: 0;
    }

   
}
@media (max-width:430px){
    .benefits__header {
    }
    .benefits {
        background-color:#1C1A2E;
        padding-top: 20px;
        opacity: 0.9;
        background: url('./img/benefits/manbro.png') no-repeat;
        background-position:center 260vw;
        background-size: 700px;
    }
    .benefits__container {
        min-height: 1720px;
    } 
}
@media (max-width:393px){
    .benefits__container {
        min-height: 1520px;
    } 
}
.benbuttons{
    margin-top: 123px;
    text-align: center;
}
@media (max-width:580px){
    .benbuttons{
        display: none;
    }
}
@media (max-width:720px){
    .benefits__btn {
    padding: 25px 40px;
    }
    .benefits__btn2 {
        padding: 25px 40px;
        margin-right: 0px;
    }
}
.benefits__btn {
    border-radius: 6px;
background: linear-gradient(257deg, #FD8806 25.37%, #DB3F2C 125.31%);
box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.13) inset, 0px 0px 16.1px 0px rgba(253, 136, 6, 0.51);
margin-right: 44px;
color: #FFF;
font-family: "CustomFont";
font-size: 24px;
padding: 25px 95px;

font-style: normal;
font-weight: 600;
line-height: 34px; /* 141.667% */
margin-bottom: 15px;
}
.benefits__btn2 {
    padding: 25px 95px;
    border-radius: 6px;
border: 2px solid #FFF;
box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.13) inset, 0px 0px 16.1px 0px rgba(253, 136, 6, 0.51);
background: #232039;
color: #FFF;
font-family: "CustomFont";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 34px; /* 141.667% */
}
@media (max-width:835px){
    .benefits__btn2 {margin-right: 35px;
    }
}